In [68]:
import graphlab

# Load some text data

In [69]:
people = graphlab.SFrame('./data/people_wiki.gl/')

In [70]:
people.head()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[10 rows x 3 columns]

In [72]:
people[1]['text']

'alfred j lewy aka sandy lewy graduated from university of chicago in 1973 after studying psychiatry pharmacology and ophthalmology he is a full professor and vicechair of the department of psychiatry at ohsu oregon health science university and holds an md and phd prior to moving to oregon in 1981 lewy was at the national institute of mental health nimh in bethesda maryland working with senior colleague thomas wehr in oregon he has worked closely with robert l sack as of december 2005 he had 94 publications available on pubmed he describes his research as follows my laboratory studies chronobiologic sleep and mood disorders these disorders include winter depression jet lag maladaptation to shift work and certain types of sleep disturbances relying on a very precise assay for plasma melatonin a hormone that has a clearly defined 24hour pattern of secretion biological rhythm disorders can be assessed and their treatment can be monitored current research is focused on developing bright light exposure and melatonin administration as treatment modalities for these disorders treatment must be precisely scheduled morning light exposure and evening melatonin administration cause circadian phaseadvance shifts evening light exposure and morning melatonin administration cause circadian phasedelay shifts totally blind individuals have 25hour circadian rhythms drifting an hour later each day unless they take a melatonin capsule at a certain time every day'

In [73]:
len(people)

59071

# Explore the data set and checkout the text in contains

In [74]:
obama = people[people['name']=='Barack Obama']

In [75]:
obama

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use len(sf) to force materialization.

In [76]:
obama['text']

dtype: str
Rows: ?
['barack hussein obama ii brk husen bm born august 4 1961 is the 44th and current president of the united states and the first african american to hold the office born in honolulu hawaii obama is a graduate of columbia university and harvard law school where he served as president of the harvard law review he was a community organizer in chicago before earning his law degree he worked as a civil rights attorney and taught constitutional law at the university of chicago law school from 1992 to 2004 he served three terms representing the 13th district in the illinois senate from 1997 to 2004 running unsuccessfully for the united states house of representatives in 2000in 2004 obama received national attention during his campaign to represent illinois in the united states senate with his victory in the march democratic party primary his keynote address at the democratic national convention in july and his election to the senate in november he began his presidential campaign in 2007 and after a close primary campaign against hillary rodham clinton in 2008 he won sufficient delegates in the democratic party primaries to receive the presidential nomination he then defeated republican nominee john mccain in the general election and was inaugurated as president on january 20 2009 nine months after his election obama was named the 2009 nobel peace prize laureateduring his first two years in office obama signed into law economic stimulus legislation in response to the great recession in the form of the american recovery and reinvestment act of 2009 and the tax relief unemployment insurance reauthorization and job creation act of 2010 other major domestic initiatives in his first term included the patient protection and affordable care act often referred to as obamacare the doddfrank wall street reform and consumer protection act and the dont ask dont tell repeal act of 2010 in foreign policy obama ended us military involvement in the iraq war increased us troop levels in afghanistan signed the new start arms control treaty with russia ordered us military involvement in libya and ordered the military operation that resulted in the death of osama bin laden in january 2011 the republicans regained control of the house of representatives as the democratic party lost a total of 63 seats and after a lengthy debate over federal spending and whether or not to raise the nations debt limit obama signed the budget control act of 2011 and the american taxpayer relief act of 2012obama was reelected president in november 2012 defeating republican nominee mitt romney and was sworn in for a second term on january 20 2013 during his second term obama has promoted domestic policies related to gun control in response to the sandy hook elementary school shooting and has called for full equality for lgbt americans while his administration has filed briefs which urged the supreme court to strike down the defense of marriage act of 1996 and californias proposition 8 as unconstitutional in foreign policy obama ordered us military involvement in iraq in response to gains made by the islamic state in iraq after the 2011 withdrawal from iraq continued the process of ending us combat operations in afghanistan and has sought to normalize us relations with cuba', ... ]

In [9]:
clooney = people[people['name'] == 'George Clooney']
clooney['text']

dtype: str
Rows: ?
['george timothy clooney born may 6 1961 is an american actor writer producer director and activist he has received three golden globe awards for his work as an actor and two academy awards one for acting and the other for producingclooney made his acting debut on television in 1978 and later gained wide recognition in his role as dr doug ross on the longrunning medical drama er from 1994 to 1999 for which he received two emmy award nominations while working on er he began attracting a variety of leading roles in films including the superhero film batman robin 1997 and the crime comedy out of sight 1998 in which he first worked with a director who would become a longtime collaborator steven soderbergh in 1999 clooney took the lead role in three kings a wellreceived war satire set during the gulf warin 2001 clooneys fame widened with the release of his biggest commercial success the heist comedy oceans eleven the first of the film trilogy a remake of the 1960 film with frank sinatra as danny ocean he made his directorial debut a year later with the biographical thriller confessions of a dangerous mind and has since directed the drama good night and good luck 2005 the sports comedy leatherheads 2008 the political drama the ides of march 2011 and the comedydrama war film the monuments men 2014he won an academy award for best supporting actor for the middle east thriller syriana 2005 and subsequently earned best actor nominations for the legal thriller michael clayton 2007 the comedydrama up in the air 2009 and the drama the descendants 2011 in 2013 he received the academy award for best picture for producing the political thriller argo alongside ben affleck and grant heslov he is the only person ever to be nominated for academy awards in six categoriesclooney is sometimes described as one of the most handsome men in the world in 2005 tv guide ranked clooney no 1 on its 50 sexiest stars of all time list in 2009 he was included in times annual time 100 as one of the most influential people in the world clooney is also noted for his political activism and has served as one of the united nations messengers of peace since january 31 2008 his humanitarian work includes his advocacy of finding a resolution for the darfur conflict raising funds for the 2010 haiti earthquake 2004 tsunami and 911 victims and creating documentaries such as sand and sorrow to raise awareness about international crises he is also a member of the council on foreign relations', ... ]

# Get the word count for Obama article

In [77]:
obama['word_count'] = graphlab.text_analytics.count_words(obama['text'])

In [78]:
print obama['word_count']

[{'operations': 1, 'represent': 1, 'office': 2, 'unemployment': 1, 'doddfrank': 1, 'over': 1, 'unconstitutional': 1, 'domestic': 2, 'major': 1, 'years': 1, 'against': 1, 'proposition': 1, 'seats': 1, 'graduate': 1, 'debate': 1, 'before': 1, 'death': 1, '20': 2, 'taxpayer': 1, 'representing': 1, 'obamacare': 1, 'barack': 1, 'to': 14, '4': 1, 'policy': 2, '8': 1, 'he': 7, '2011': 3, '2010': 2, '2013': 1, '2012': 1, 'bin': 1, 'then': 1, 'his': 11, 'march': 1, 'gains': 1, 'cuba': 1, 'school': 3, '1992': 1, 'new': 1, 'not': 1, 'during': 2, 'ending': 1, 'continued': 1, 'presidential': 2, 'states': 3, 'husen': 1, 'osama': 1, 'californias': 1, 'equality': 1, 'prize': 1, 'lost': 1, 'made': 1, 'inaugurated': 1, 'january': 3, 'university': 2, 'rights': 1, 'july': 1, 'gun': 1, 'stimulus': 1, 'rodham': 1, 'troop': 1, 'withdrawal': 1, 'brk': 1, 'nine': 1, 'where': 1, 'referred': 1, 'affordable': 1, 'attorney': 1, 'on': 2, 'often': 1, 'senate': 3, 'regained': 1, 'national': 2, 'creation': 1, 'related': 1, 'hawaii': 1, 'born': 2, 'second': 2, 'defense': 1, 'election': 3, 'close': 1, 'operation': 1, 'insurance': 1, 'sandy': 1, 'afghanistan': 2, 'initiatives': 1, 'for': 4, 'reform': 1, 'house': 2, 'review': 1, 'representatives': 2, 'ended': 1, 'current': 1, 'state': 1, 'won': 1, 'limit': 1, 'victory': 1, 'unsuccessfully': 1, 'reauthorization': 1, 'keynote': 1, 'full': 1, 'patient': 1, 'august': 1, 'degree': 1, '44th': 1, 'bm': 1, 'mitt': 1, 'attention': 1, 'delegates': 1, 'lgbt': 1, 'job': 1, 'harvard': 2, 'term': 3, 'served': 2, 'ask': 1, 'november': 2, 'debt': 1, 'by': 1, 'wall': 1, 'care': 1, 'received': 1, 'great': 1, 'signed': 3, 'libya': 1, 'receive': 1, 'of': 18, 'months': 1, 'urged': 1, 'foreign': 2, 'american': 3, 'protection': 2, 'economic': 1, 'act': 8, 'military': 4, 'hussein': 1, 'or': 1, 'first': 3, 'control': 4, 'named': 1, 'clinton': 1, 'dont': 2, 'campaign': 3, 'russia': 1, 'civil': 1, 'reinvestment': 1, 'into': 1, 'address': 1, 'primary': 2, 'community': 1, 'mccain': 1, 'down': 1, 'hook': 1, '63': 1, 'americans': 1, 'elementary': 1, 'total': 1, 'earning': 1, 'repeal': 1, 'from': 3, 'raise': 1, 'district': 1, 'spending': 1, 'republican': 2, 'legislation': 1, 'three': 1, 'relations': 1, 'nobel': 1, 'start': 1, 'tell': 1, 'iraq': 4, 'convention': 1, 'resulted': 1, 'john': 1, 'was': 5, '2012obama': 1, 'form': 1, 'that': 1, 'tax': 1, 'sufficient': 1, 'republicans': 1, 'strike': 1, 'hillary': 1, 'street': 1, 'arms': 1, 'honolulu': 1, 'filed': 1, 'worked': 1, 'hold': 1, 'with': 3, 'obama': 9, 'ii': 1, 'has': 4, '1997': 1, '1996': 1, 'whether': 1, 'reelected': 1, 'budget': 1, 'us': 6, 'nations': 1, 'recession': 1, 'while': 1, 'taught': 1, 'marriage': 1, 'policies': 1, 'promoted': 1, 'called': 1, 'and': 21, 'supreme': 1, 'ordered': 3, 'nominee': 2, 'process': 1, '2000in': 1, 'is': 2, 'romney': 1, 'briefs': 1, 'defeated': 1, 'general': 1, '13th': 1, 'as': 6, 'at': 2, 'in': 30, 'sought': 1, 'organizer': 1, 'shooting': 1, 'increased': 1, 'normalize': 1, 'lengthy': 1, 'united': 3, 'court': 1, 'recovery': 1, 'laden': 1, 'laureateduring': 1, 'peace': 1, 'administration': 1, '1961': 1, 'illinois': 2, 'other': 1, 'which': 1, 'party': 3, 'primaries': 1, 'sworn': 1, 'relief': 2, 'war': 1, 'columbia': 1, 'combat': 1, 'after': 4, 'islamic': 1, 'running': 1, 'levels': 1, 'two': 1, 'involvement': 3, 'response': 3, 'included': 1, 'president': 4, 'law': 6, 'nomination': 1, '2008': 1, 'a': 7, '2009': 3, 'chicago': 2, 'constitutional': 1, 'defeating': 1, 'treaty': 1, 'federal': 1, '2007': 1, '2004': 3, 'african': 1, 'the': 40, 'democratic': 4, 'consumer': 1, 'began': 1, 'terms': 1}]

## Sort the word counts for the Obama article

In [79]:
obama_word_count_table = obama[['word_count']].stack('word_count',new_column_name = ['word','count'])

In [80]:
obama_word_count_table.sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 273

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   40  |
|   in  |   30  |
|  and  |   21  |
|   of  |   18  |
|   to  |   14  |
|  his  |   11  |
| obama |   9   |
|  act  |   8   |
|   a   |   7   |
|   he  |   7   |
+-------+-------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

### Compute TF_IDF for corpus

In [82]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])
people.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1, 'carltons': 1... |
| alfred j lewy aka sandy le... | {'precise': 1, 'thomas': 1... |
| harpdog brown is a singer ... | {'just': 1, 'issued': 1, '... |
| franz rottensteiner born i... | {'all': 1, 'bauforschung':... |
| henry krvits born 30 decem... | {'legendary': 1, 'gangster... |
| sam henderson born october... | {'now': 1, 'currently': 1,... |
| aaron lacrate is an americ... | {'exclusive': 2, 'producer... |
| trevor ferguson aka john f... | {'taxi': 1, 'salon': 1, 'g... |
| grant nelson born 27 april... | {'houston': 1, 'frankie': ... |
| cathy caruth born 1955 is ... | {'phenomenon': 1, 'deboras... |
+-------------------------------+-------------------------------+
[10 rows x 4 columns]

In [83]:
tfidf = graphlab.text_analytics.tf_idf(people['word_count'])

In [84]:
tfidf

Columns:
	docs	dict

Rows: 59071

Data:
+-------------------------------+
|              docs             |
+-------------------------------+
| {'since': 1.45537671730804... |
| {'precise': 6.443200606955... |
| {'just': 2.700729968710864... |
| {'all': 1.6431112434912472... |
| {'legendary': 4.2808562943... |
| {'now': 1.96695239252401, ... |
| {'exclusive': 10.455187230... |
| {'taxi': 6.052021456094502... |
| {'houston': 3.935505942157... |
| {'phenomenon': 5.750053426... |
+-------------------------------+
[59071 rows x 1 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [91]:
people['tfidf'] = tfidf['docs']

### Examine the TF IDF for the Obama article

In [95]:
elton = people[people['name'] == 'Elton John']

In [96]:
elton[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Manually compute distances between a few people

In [20]:
clinton = people[people['name'] == 'Bill Clinton']

In [21]:
beckham = people[people['name'] == 'David Beckham']

In [22]:
graphlab.distances.cosine(obama['tfidf'][0],clinton['tfidf'][0])

0.8339854936884276

In [23]:
graphlab.distances.cosine(obama['tfidf'][0],beckham['tfidf'][0])

0.9791305844747478

# Build a nearest neighbor model for document retreival

In [24]:
knn_model = graphlab.nearest_neighbors.create(people,features=['tfidf'], label ='name')

PROGRESS: Starting brute force nearest neighbors model training.

# Applying the nearest-neighbors model

## Who is closet to Obama?

In [25]:
knn_model.query(obama)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 8.323ms      |
PROGRESS: | Done         |         | 100         | 108.962ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |   Barack Obama  |      0.0       |  1   |
|      0      |    Joe Biden    | 0.794117647059 |  2   |
|      0      |  Joe Lieberman  | 0.794685990338 |  3   |
|      0      |   Kelly Ayotte  | 0.811989100817 |  4   |
|      0      |   Bill Clinton  | 0.813852813853 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

## Other examples of document retrieval

In [26]:
swift = people[people['name'] == 'Taylor Swift']

In [27]:
knn_model.query(swift)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 8.393ms      |
PROGRESS: | Done         |         | 100         | 101.708ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      |   Taylor Swift   |      0.0       |  1   |
|      0      | Carrie Underwood | 0.76231884058  |  2   |
|      0      |   Alicia Keys    | 0.764705882353 |  3   |
|      0      |  Jordin Sparks   | 0.769633507853 |  4   |
|      0      |   Leona Lewis    | 0.776119402985 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]

In [28]:
jolie = people[people['name'] == 'Angelina Jolie']

In [29]:
knn_model.query(jolie)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 8.938ms      |
PROGRESS: | Done         |         | 100         | 98.628ms     |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------+----------------+------+
| query_label |  reference_label   |    distance    | rank |
+-------------+--------------------+----------------+------+
|      0      |   Angelina Jolie   |      0.0       |  1   |
|      0      |     Brad Pitt      | 0.784023668639 |  2   |
|      0      |   Julianne Moore   | 0.795857988166 |  3   |
|      0      | Billy Bob Thornton | 0.803069053708 |  4   |
|      0      |   George Clooney   |   0.8046875    |  5   |
+-------------+--------------------+----------------+------+
[5 rows x 4 columns]

In [30]:
arnold = people[people['name'] == 'Arnold Schwarzenegger']

In [31]:
knn_model.query(arnold)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 9.386ms      |
PROGRESS: | Done         |         | 100         | 99.559ms     |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------------+----------------+------+
| query_label |    reference_label    |    distance    | rank |
+-------------+-----------------------+----------------+------+
|      0      | Arnold Schwarzenegger |      0.0       |  1   |
|      0      |     Jesse Ventura     | 0.818918918919 |  2   |
|      0      |     John Kitzhaber    | 0.824615384615 |  3   |
|      0      |     Lincoln Chafee    | 0.833876221498 |  4   |
|      0      |      Anthony Foxx     | 0.833910034602 |  5   |
+-------------+-----------------------+----------------+------+
[5 rows x 4 columns]

# Programming assignment 1
Get Elton John's Highest Word Count /n
What are the 3 words with highest TF-IDF

In [33]:
eJohn = people[people['name'] == 'Elton John']

In [37]:
eJohn['word_count']

dtype: dict
Rows: ?
[{'all': 1, 'six': 1, 'producer': 1, 'heavily': 1, 'over': 2, 'named': 1, 'fifty': 1, 'four': 1, 'openly': 1, 'including': 1, 'highestprofile': 1, 'years': 1, 'its': 2, 'impact': 1, 'westminster': 1, '27': 1, '21': 2, 'wed': 1, 'had': 1, '1947': 1, 'abbey': 1, 'winning': 1, 'late': 1, 'to': 4, 'commander': 1, 'about': 1, 'born': 1, '2014': 1, 'as': 2, 'has': 9, '2013': 1, 'his': 4, 'march': 1, 'than': 3, 'song': 1, 'songwriter': 2, 'continues': 1, 'records': 1, 'five': 1, 'occasional': 1, 'they': 1, 'inception': 1, 'world': 1, 'brit': 1, 'him': 3, 'datein': 1, 'hall': 2, 'fivedecade': 1, 'knighthood': 1, 'bestselling': 2, 'artist': 1, 'be': 1, '1996': 1, 'list': 1, 'roll': 2, 'hercules': 1, 'announced': 1, 'rock': 2, 'become': 1, 'bernie': 1, 'outstanding': 1, 'england': 1, 'composer': 1, 'queens': 1, 'foundation': 2, 'diana': 1, 'globe': 1, 'artists': 2, 'culture': 1, 'been': 3, '49': 1, 'year': 1, 'billboard': 4, 'aids': 2, 'empire': 1, 'honors': 1, 'oscar': 1, 'elizabeth': 1, 'composers': 1, 'established': 1, 'elton': 3, 'for': 5, 'record': 1, '58': 1, 'since': 5, 'legal': 1, 'collaborated': 1, 'outside': 1, 'consecutive': 2, 'funeral': 1, 'disney': 1, 'solo': 1, 'marriage': 2, 'who': 1, '25': 1, '300': 1, 'sold': 2, 'million': 3, 'lgbt': 1, 'ranked': 2, 'awards': 3, 'alltime': 1, '100': 3, 'overallelton': 1, 'legend': 1, 'received': 2, 'hits': 1, 'english': 1, '33': 1, 'involved': 1, 'industry': 1, '30': 1, 'against': 1, 'david': 1, 'became': 1, 'tonightcandle': 1, 'social': 1, 'samesex': 1, 'contribution': 1, 'lasting': 1, 'dwight': 1, 'first': 1, 'golden': 1, 'raised': 1, 'grammy': 1, 'civil': 1, 'taupin': 1, 'into': 3, 'lyricist': 1, 'number': 2, 'one': 3, 'services': 2, 'ii': 1, 'kennedy': 1, 'least': 1, 'inducted': 1, 'parties': 1, 'tony': 1, '19702000': 1, 'concert': 1, 'jubilee': 1, 'from': 1, 'kenneth': 1, 'top': 4, 'cbe': 1, 'copies': 1, '1988': 1, 'fight': 1, '2': 1, 'music': 3, 'way': 1, 'bisexual': 1, 'hollywood': 1, 'john': 7, 'was': 2, 'songwriters': 2, 'more': 3, 'brits': 1, 'british': 3, 'diamond': 1, 'champion': 1, 'gay': 2, 'on': 6, 'successful': 1, 'academy': 3, 'stone': 1, 'award': 5, 'buckingham': 1, 'authors': 1, 'worked': 1, 'fellow': 1, 'with': 2, 'entered': 1, 'he': 7, '10': 1, '1992': 1, '1994': 1, '1997': 2, '40': 2, '1998': 1, 'hosting': 1, 'us': 1, 'career': 1, 'nine': 1, 'era': 1, 'royal': 1, 'of': 13, 'making': 1, 'male': 1, '31': 1, 'something': 1, 'and': 15, 'seven': 1, 'annual': 1, 'palace': 2, 'look': 1, 'december': 2, 'is': 4, 'partnership': 1, 'an': 3, '1980s': 1, 'single': 2, 'performed': 1, 'have': 1, 'in': 18, 'partner': 1, 'fame': 2, 'film': 1, 'movements': 1, 'sir': 1, 'no': 3, 'began': 1, '1967': 1, 'inductee': 1, 'actor': 1, '1': 2, 'hot': 2, 'musicians': 1, 'which': 1, 'influential': 1, 'party': 2, 'you': 1, 'pianist': 1, 'events': 1, 'worldwide': 2, '200': 1, 'princess': 1, 'time': 1, 'singles': 1, 'albums': 2, 'after': 1, 'most': 1, 'two': 1, 'rolling': 1, 'such': 1, '2008': 1, 'icon': 1, 'a': 10, 'singer': 1, 'center': 1, 'third': 1, '2012he': 1, '1976': 1, 'later': 1, 'reginald': 1, 'having': 1, '2002': 1, 'charitable': 1, 'wind': 1, '2004': 2, '2005': 1, 'at': 4, 'the': 27, 'order': 1, 'furnish': 2}, ... ]

In [38]:
eJohn_word_count_table = eJohn[['word_count']].stack('word_count', new_column_name = ['word','count'])

In [42]:
eJohn_word_count_table.sort("count",ascending=False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|   he  |   7   |
|  john |   7   |
|   on  |   6   |
| since |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [43]:
Answer[0] = [eJohn_word_count_table.sort("count",ascending=False)[:2]]

NameError: name 'Answer' is not defined

In [45]:
eJohn_word_count_table.sort("count",ascending=False)[:3]

Columns:
	word	str
	count	int

Rows: 3

Data:
+------+-------+
| word | count |
+------+-------+
| the  |   27  |
|  in  |   18  |
| and  |   15  |
+------+-------+
[3 rows x 2 columns]

In [47]:
Answer = []

In [48]:
Answer.append(eJohn_word_count_table.sort("count",ascending=False)[:3])

In [49]:
Answer[0]

Columns:
	word	str
	count	int

Rows: 3

Data:
+------+-------+
| word | count |
+------+-------+
| the  |   27  |
|  in  |   18  |
| and  |   15  |
+------+-------+
[3 rows x 2 columns]

In [62]:
tfidf = graphlab.text_analytics.tf_idf(people['word_count'])
people['tfidf'] = tfidf['docs']

In [65]:
eJohn['tfidf']

dtype: dict
Rows: 1
[{'all': 0.0, 'six': 0.0, 'producer': 0.0, 'heavily': 0.0, 'over': 0.0, 'named': 0.0, 'fifty': 0.0, 'four': 0.0, 'openly': 0.0, 'including': 0.0, 'highestprofile': 0.0, 'years': 0.0, 'its': 0.0, 'impact': 0.0, 'westminster': 0.0, '27': 0.0, '21': 0.0, 'wed': 0.0, 'had': 0.0, '1947': 0.0, 'abbey': 0.0, 'winning': 0.0, 'late': 0.0, 'to': 0.0, 'commander': 0.0, 'about': 0.0, 'born': 0.0, '2014': 0.0, 'as': 0.0, 'has': 0.0, '2013': 0.0, 'his': 0.0, 'march': 0.0, 'than': 0.0, 'song': 0.0, 'songwriter': 0.0, 'continues': 0.0, 'records': 0.0, 'five': 0.0, 'occasional': 0.0, 'they': 0.0, 'inception': 0.0, 'world': 0.0, 'brit': 0.0, 'him': 0.0, 'datein': 0.0, 'hall': 0.0, 'fivedecade': 0.0, 'knighthood': 0.0, 'bestselling': 0.0, 'artist': 0.0, 'be': 0.0, '1996': 0.0, 'list': 0.0, 'roll': 0.0, 'hercules': 0.0, 'announced': 0.0, 'rock': 0.0, 'become': 0.0, 'bernie': 0.0, 'outstanding': 0.0, 'england': 0.0, 'composer': 0.0, 'queens': 0.0, 'foundation': 0.0, 'diana': 0.0, 'globe': 0.0, 'artists': 0.0, 'culture': 0.0, 'been': 0.0, '49': 0.0, 'year': 0.0, 'billboard': 0.0, 'aids': 0.0, 'empire': 0.0, 'honors': 0.0, 'oscar': 0.0, 'elizabeth': 0.0, 'composers': 0.0, 'established': 0.0, 'elton': 0.0, 'for': 0.0, 'record': 0.0, '58': 0.0, 'since': 0.0, 'legal': 0.0, 'collaborated': 0.0, 'outside': 0.0, 'consecutive': 0.0, 'funeral': 0.0, 'disney': 0.0, 'solo': 0.0, 'marriage': 0.0, 'who': 0.0, '25': 0.0, '300': 0.0, 'sold': 0.0, 'million': 0.0, 'lgbt': 0.0, 'ranked': 0.0, 'awards': 0.0, 'alltime': 0.0, '100': 0.0, 'overallelton': 0.0, 'legend': 0.0, 'received': 0.0, 'hits': 0.0, 'english': 0.0, '33': 0.0, 'involved': 0.0, 'industry': 0.0, '30': 0.0, 'against': 0.0, 'david': 0.0, 'became': 0.0, 'tonightcandle': 0.0, 'social': 0.0, 'samesex': 0.0, 'contribution': 0.0, 'lasting': 0.0, 'dwight': 0.0, 'first': 0.0, 'golden': 0.0, 'raised': 0.0, 'grammy': 0.0, 'civil': 0.0, 'taupin': 0.0, 'into': 0.0, 'lyricist': 0.0, 'number': 0.0, 'one': 0.0, 'services': 0.0, 'ii': 0.0, 'kennedy': 0.0, 'least': 0.0, 'inducted': 0.0, 'parties': 0.0, 'tony': 0.0, '19702000': 0.0, 'concert': 0.0, 'jubilee': 0.0, 'from': 0.0, 'kenneth': 0.0, 'top': 0.0, 'cbe': 0.0, 'copies': 0.0, '1988': 0.0, 'fight': 0.0, '2': 0.0, 'music': 0.0, 'way': 0.0, 'bisexual': 0.0, 'hollywood': 0.0, 'john': 0.0, 'was': 0.0, 'songwriters': 0.0, 'more': 0.0, 'brits': 0.0, 'british': 0.0, 'diamond': 0.0, 'champion': 0.0, 'gay': 0.0, 'on': 0.0, 'successful': 0.0, 'academy': 0.0, 'stone': 0.0, 'award': 0.0, 'buckingham': 0.0, 'authors': 0.0, 'worked': 0.0, 'fellow': 0.0, 'with': 0.0, 'entered': 0.0, 'he': 0.0, '10': 0.0, '1992': 0.0, '1994': 0.0, '1997': 0.0, '40': 0.0, '1998': 0.0, 'hosting': 0.0, 'us': 0.0, 'career': 0.0, 'nine': 0.0, 'era': 0.0, 'royal': 0.0, 'of': 0.0, 'making': 0.0, 'male': 0.0, '31': 0.0, 'something': 0.0, 'and': 0.0, 'seven': 0.0, 'annual': 0.0, 'palace': 0.0, 'look': 0.0, 'december': 0.0, 'is': 0.0, 'partnership': 0.0, 'an': 0.0, '1980s': 0.0, 'single': 0.0, 'performed': 0.0, 'have': 0.0, 'in': 0.0, 'partner': 0.0, 'fame': 0.0, 'film': 0.0, 'movements': 0.0, 'sir': 0.0, 'no': 0.0, 'began': 0.0, '1967': 0.0, 'inductee': 0.0, 'actor': 0.0, '1': 0.0, 'hot': 0.0, 'musicians': 0.0, 'which': 0.0, 'influential': 0.0, 'party': 0.0, 'you': 0.0, 'pianist': 0.0, 'events': 0.0, 'worldwide': 0.0, '200': 0.0, 'princess': 0.0, 'time': 0.0, 'singles': 0.0, 'albums': 0.0, 'after': 0.0, 'most': 0.0, 'two': 0.0, 'rolling': 0.0, 'such': 0.0, '2008': 0.0, 'icon': 0.0, 'a': 0.0, 'singer': 0.0, 'center': 0.0, 'third': 0.0, '2012he': 0.0, '1976': 0.0, 'later': 0.0, 'reginald': 0.0, 'having': 0.0, '2002': 0.0, 'charitable': 0.0, 'wind': 0.0, '2004': 0.0, '2005': 0.0, 'at': 0.0, 'the': 0.0, 'order': 0.0, 'furnish': 0.0}]

In [58]:
eJohn[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=True)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+------------+-------+
|    word    | tfidf |
+------------+-------+
|    five    |  0.0  |
| worldwide  |  0.0  |
| charitable |  0.0  |
|  england   |  0.0  |
|   began    |  0.0  |
|    top     |  0.0  |
|    time    |  0.0  |
|     58     |  0.0  |
|    wind    |  0.0  |
|    over    |  0.0  |
+------------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [59]:
tfidf["docs"]

dtype: dict
Rows: 1
[{'all': 0.0, 'six': 0.0, 'producer': 0.0, 'heavily': 0.0, 'over': 0.0, 'named': 0.0, 'fifty': 0.0, 'four': 0.0, 'openly': 0.0, 'including': 0.0, 'highestprofile': 0.0, 'years': 0.0, 'its': 0.0, 'impact': 0.0, 'westminster': 0.0, '27': 0.0, '21': 0.0, 'wed': 0.0, 'had': 0.0, '1947': 0.0, 'abbey': 0.0, 'winning': 0.0, 'late': 0.0, 'to': 0.0, 'commander': 0.0, 'about': 0.0, 'born': 0.0, '2014': 0.0, 'as': 0.0, 'has': 0.0, '2013': 0.0, 'his': 0.0, 'march': 0.0, 'than': 0.0, 'song': 0.0, 'songwriter': 0.0, 'continues': 0.0, 'records': 0.0, 'five': 0.0, 'occasional': 0.0, 'they': 0.0, 'inception': 0.0, 'world': 0.0, 'brit': 0.0, 'him': 0.0, 'datein': 0.0, 'hall': 0.0, 'fivedecade': 0.0, 'knighthood': 0.0, 'bestselling': 0.0, 'artist': 0.0, 'be': 0.0, '1996': 0.0, 'list': 0.0, 'roll': 0.0, 'hercules': 0.0, 'announced': 0.0, 'rock': 0.0, 'become': 0.0, 'bernie': 0.0, 'outstanding': 0.0, 'england': 0.0, 'composer': 0.0, 'queens': 0.0, 'foundation': 0.0, 'diana': 0.0, 'globe': 0.0, 'artists': 0.0, 'culture': 0.0, 'been': 0.0, '49': 0.0, 'year': 0.0, 'billboard': 0.0, 'aids': 0.0, 'empire': 0.0, 'honors': 0.0, 'oscar': 0.0, 'elizabeth': 0.0, 'composers': 0.0, 'established': 0.0, 'elton': 0.0, 'for': 0.0, 'record': 0.0, '58': 0.0, 'since': 0.0, 'legal': 0.0, 'collaborated': 0.0, 'outside': 0.0, 'consecutive': 0.0, 'funeral': 0.0, 'disney': 0.0, 'solo': 0.0, 'marriage': 0.0, 'who': 0.0, '25': 0.0, '300': 0.0, 'sold': 0.0, 'million': 0.0, 'lgbt': 0.0, 'ranked': 0.0, 'awards': 0.0, 'alltime': 0.0, '100': 0.0, 'overallelton': 0.0, 'legend': 0.0, 'received': 0.0, 'hits': 0.0, 'english': 0.0, '33': 0.0, 'involved': 0.0, 'industry': 0.0, '30': 0.0, 'against': 0.0, 'david': 0.0, 'became': 0.0, 'tonightcandle': 0.0, 'social': 0.0, 'samesex': 0.0, 'contribution': 0.0, 'lasting': 0.0, 'dwight': 0.0, 'first': 0.0, 'golden': 0.0, 'raised': 0.0, 'grammy': 0.0, 'civil': 0.0, 'taupin': 0.0, 'into': 0.0, 'lyricist': 0.0, 'number': 0.0, 'one': 0.0, 'services': 0.0, 'ii': 0.0, 'kennedy': 0.0, 'least': 0.0, 'inducted': 0.0, 'parties': 0.0, 'tony': 0.0, '19702000': 0.0, 'concert': 0.0, 'jubilee': 0.0, 'from': 0.0, 'kenneth': 0.0, 'top': 0.0, 'cbe': 0.0, 'copies': 0.0, '1988': 0.0, 'fight': 0.0, '2': 0.0, 'music': 0.0, 'way': 0.0, 'bisexual': 0.0, 'hollywood': 0.0, 'john': 0.0, 'was': 0.0, 'songwriters': 0.0, 'more': 0.0, 'brits': 0.0, 'british': 0.0, 'diamond': 0.0, 'champion': 0.0, 'gay': 0.0, 'on': 0.0, 'successful': 0.0, 'academy': 0.0, 'stone': 0.0, 'award': 0.0, 'buckingham': 0.0, 'authors': 0.0, 'worked': 0.0, 'fellow': 0.0, 'with': 0.0, 'entered': 0.0, 'he': 0.0, '10': 0.0, '1992': 0.0, '1994': 0.0, '1997': 0.0, '40': 0.0, '1998': 0.0, 'hosting': 0.0, 'us': 0.0, 'career': 0.0, 'nine': 0.0, 'era': 0.0, 'royal': 0.0, 'of': 0.0, 'making': 0.0, 'male': 0.0, '31': 0.0, 'something': 0.0, 'and': 0.0, 'seven': 0.0, 'annual': 0.0, 'palace': 0.0, 'look': 0.0, 'december': 0.0, 'is': 0.0, 'partnership': 0.0, 'an': 0.0, '1980s': 0.0, 'single': 0.0, 'performed': 0.0, 'have': 0.0, 'in': 0.0, 'partner': 0.0, 'fame': 0.0, 'film': 0.0, 'movements': 0.0, 'sir': 0.0, 'no': 0.0, 'began': 0.0, '1967': 0.0, 'inductee': 0.0, 'actor': 0.0, '1': 0.0, 'hot': 0.0, 'musicians': 0.0, 'which': 0.0, 'influential': 0.0, 'party': 0.0, 'you': 0.0, 'pianist': 0.0, 'events': 0.0, 'worldwide': 0.0, '200': 0.0, 'princess': 0.0, 'time': 0.0, 'singles': 0.0, 'albums': 0.0, 'after': 0.0, 'most': 0.0, 'two': 0.0, 'rolling': 0.0, 'such': 0.0, '2008': 0.0, 'icon': 0.0, 'a': 0.0, 'singer': 0.0, 'center': 0.0, 'third': 0.0, '2012he': 0.0, '1976': 0.0, 'later': 0.0, 'reginald': 0.0, 'having': 0.0, '2002': 0.0, 'charitable': 0.0, 'wind': 0.0, '2004': 0.0, '2005': 0.0, 'at': 0.0, 'the': 0.0, 'order': 0.0, 'furnish': 0.0}]

In [90]:
obama[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 273

Data:
+-------------+---------------+
|     word    |     tfidf     |
+-------------+---------------+
|    obama    | 43.2956530721 |
|     act     |  27.678222623 |
|     iraq    |  17.747378588 |
|   control   | 14.8870608452 |
|     law     | 14.7229357618 |
|   ordered   | 14.5333739509 |
|   military  | 13.1159327785 |
| involvement | 12.7843852412 |
|   response  | 12.7843852412 |
|  democratic | 12.4106886973 |
+-------------+---------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [89]:
eJohn[['tfidf']]['docs']

RuntimeError: Runtime Exception. Column name docs does not exist.

In [98]:
elton_tfidf = elton[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

In [99]:
Answer[0] = [Answer[0],elton_tfidf[:3]]

In [100]:
Answer

[[Columns:
  	word	str
  	count	int

  Rows: 3

  Data:
  +------+-------+
  | word | count |
  +------+-------+
  | the  |   27  |
  |  in  |   18  |
  | and  |   15  |
  +------+-------+
  [3 rows x 2 columns], Columns:
  	word	str
  	tfidf	float

  Rows: 3

  Data:
  +-----------+---------------+
  |    word   |     tfidf     |
  +-----------+---------------+
  |  furnish  |  18.38947184  |
  |   elton   |  17.48232027  |
  | billboard | 17.3036809575 |
  +-----------+---------------+
  [3 rows x 2 columns]]]

# Question 2
What is the cosine distance between Elton John and Victoria Beckham?
What is the cosine distance between Elton John and Paul McCartney?
Who is the closest.

In [102]:
elton = people[people['name'] == 'Elton John']

In [103]:
elton

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'all': 1, 'six': 1, 'prod... | {'all': 1.6431112434912472... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use len(sf) to force materialization.

In [104]:
victoria = people[people['name'] == 'Victoria Beckham']

In [105]:
victoria

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------------+
|              URI              |       name       |
+-------------------------------+------------------+
| <http://dbpedia.org/resour... | Victoria Beckham |
+-------------------------------+------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| victoria caroline beckham ... | {'millionin': 1, 'saying':... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'millionin': 7.7283988512... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use len(sf) to force materialization.

In [114]:
ev = graphlab.distances.cosine(elton['tfidf'][0],victoria['tfidf'][0])

In [107]:
Paul = people[people['name'] == 'Paul McCartney']

In [108]:
Paul

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | Paul McCartney |
+-------------------------------+----------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| sir james paul mccartney m... | {'all': 1, 'gold': 1, 'ove... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'all': 1.6431112434912472... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use len(sf) to force materialization.

In [112]:
ep  = graphlab.distances.cosine(elton['tfidf'][0],Paul['tfidf'][0])

In [115]:
Answer.append([ev,ep])

In [116]:
Answer

[[Columns:
  	word	str
  	count	int

  Rows: 3

  Data:
  +------+-------+
  | word | count |
  +------+-------+
  | the  |   27  |
  |  in  |   18  |
  | and  |   15  |
  +------+-------+
  [3 rows x 2 columns], Columns:
  	word	str
  	tfidf	float

  Rows: 3

  Data:
  +-----------+---------------+
  |    word   |     tfidf     |
  +-----------+---------------+
  |  furnish  |  18.38947184  |
  |   elton   |  17.48232027  |
  | billboard | 17.3036809575 |
  +-----------+---------------+
  [3 rows x 2 columns]], [0.9567006376655429, 0.8250310029221779]]

# Question 3
Similar to Elton John Word Count
Similar to Elton John TFIDF
Similar to Victoria Beckham Word Count
SImilar to V B TFIDF

In [124]:
knn_tfidf_model = graphlab.nearest_neighbors.create(people,features=['tfidf'],label='name')

PROGRESS: Starting brute force nearest neighbors model training.

In [125]:
knn_wordcount_model = graphlab.nearest_neighbors.create(people,features=['word_count'],label='name')

PROGRESS: Starting brute force nearest neighbors model training.

In [126]:
knn_tfidf_model.query(elton)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 9.47ms       |
PROGRESS: | Done         |         | 100         | 108.867ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |    Elton John   |      0.0       |  1   |
|      0      |   Phil Collins  | 0.76399026764  |  2   |
|      0      |   Rod Stewart   | 0.773333333333 |  3   |
|      0      |   Annie Lennox  | 0.776623376623 |  4   |
|      0      |    Barry Gibb   | 0.780952380952 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [127]:
knn_wordcount_model.query(elton)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 4.804ms      |
PROGRESS: | Done         |         | 100         | 90.948ms     |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |    Elton John   |      0.0       |  1   |
|      0      |   Phil Collins  | 0.76399026764  |  2   |
|      0      |   Rod Stewart   | 0.773333333333 |  3   |
|      0      |   Annie Lennox  | 0.776623376623 |  4   |
|      0      |    Barry Gibb   | 0.780952380952 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [128]:
knn_tfidf_model.query(victoria)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 10.093ms     |
PROGRESS: | Done         |         | 100         | 104.034ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      | Victoria Beckham |      0.0       |  1   |
|      0      |   Cheryl Cole    | 0.800586510264 |  2   |
|      0      |    Heidi Klum    | 0.810344827586 |  3   |
|      0      |   Simon Fuller   | 0.822742474916 |  4   |
|      0      |      Adele       | 0.824915824916 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]

In [129]:
knn_wordcount_model.query(victoria)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 5.059ms      |
PROGRESS: | Done         |         | 100         | 87.262ms     |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      | Victoria Beckham |      0.0       |  1   |
|      0      |   Cheryl Cole    | 0.800586510264 |  2   |
|      0      |    Heidi Klum    | 0.810344827586 |  3   |
|      0      |   Simon Fuller   | 0.822742474916 |  4   |
|      0      |      Adele       | 0.824915824916 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]

In [130]:
Answer

[[Columns:
  	word	str
  	count	int

  Rows: 3

  Data:
  +------+-------+
  | word | count |
  +------+-------+
  | the  |   27  |
  |  in  |   18  |
  | and  |   15  |
  +------+-------+
  [3 rows x 2 columns], Columns:
  	word	str
  	tfidf	float

  Rows: 3

  Data:
  +-----------+---------------+
  |    word   |     tfidf     |
  +-----------+---------------+
  |  furnish  |  18.38947184  |
  |   elton   |  17.48232027  |
  | billboard | 17.3036809575 |
  +-----------+---------------+
  [3 rows x 2 columns]], [0.9567006376655429, 0.8250310029221779]]

# Elton John

In [133]:
people = graphlab.SFrame('./data/people_wiki.gl/')

In [140]:
elton = people[people['name'] == 'Elton John']

In [141]:
elton['word_count'] = graphlab.text_analytics.count_words(elton['text'])

In [143]:
elton_word_count_table = elton[['word_count']].stack('word_count', new_column_name = ['word','count'])

In [144]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])

In [145]:
tfidf = graphlab.text_analytics.tf_idf(people['word_count'])

In [148]:
people['tfidf'] = tfidf['docs']

In [150]:
elton = people[people['name'] == 'Elton John']

In [151]:
elton[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [152]:
victoria = people[people['name'] == 'Victoria Beckham']

In [153]:
paul = people[people['name'] == 'Paul McCartney']

In [154]:
paul

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | Paul McCartney |
+-------------------------------+----------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| sir james paul mccartney m... | {'all': 1, 'gold': 1, 'ove... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'all': 1.6431112434912472... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use len(sf) to force materialization.

In [160]:
knn_wordcount_model = graphlab.nearest_neighbors.create(people,features=['word_count'],label='name',distance='cosine')

PROGRESS: Starting brute force nearest neighbors model training.

In [161]:
knn_wordcount_model.query(elton)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 7.677ms      |
PROGRESS: | Done         |         | 100         | 90.55ms      |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [162]:
knn_tfidf_model = graphlab.nearest_neighbors.create(people,features=['tfidf'],label='name',distance='cosine')

PROGRESS: Starting brute force nearest neighbors model training.

In [163]:
knn_tfidf_model.query(elton)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 6.268ms      |
PROGRESS: | Done         |         | 100         | 110.508ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [164]:
knn_wordcount_model.query(victoria)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 8.158ms      |
PROGRESS: | Done         |         | 100         | 83.734ms     |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

In [165]:
knn_tfidf_model.query(victoria)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 7.291ms      |
PROGRESS: | Done         |         | 100         | 112.772ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]